<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">RECUPERAR SENHA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center-flex" style="width: 100%;margin-bottom:8em;">
      <div class="white-block text-center" style="flex-direction: column;">
      <h1 class="title-blue" style="font-size: 17px;">{{ msg }}</h1>
      <form #formData='ngForm' (ngSubmit)="resetPassword(formData.value.email);formData.reset();">
        <div class="row formulario" style="margin-top:2em;">
          <div class="col-md-3 label-marca">E-mail: </div>
          <div class="col-md-9"> <input type="text" (ngModel)="email" name="email" required></div>
        </div>
        <div class="row formulario" style="margin-top:3em;">
          <div class="col-md-12 label-marca text-center-flex">
            <button type="submit" class="btn-continuar">RECUPERAR SENHA</button>
          </div>
        </div>
    </form>
      </div>
    </div>
  </div>
</div>
