<div class="container container-block">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">DÚVIDAS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center-flex main-content-block">
            <div class="white-block" style="flex-direction: column;">
                <div class="text-reading" style="text-align: center;">
                    <img class="img-duvida" routerLink="/" src="../assets/duvidas-print.png" />
                </div>

                <div class="row">
                    <div class="col-md-12 label-marca text-center-flex">
                        <button class="btn-continuar" routerLink="/">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>