.white-block{
  margin-top: 2em;
  background-color: #ffff;
  width: 90vw;
  min-height: 250px;
  border-radius: 2em;
  padding: 1em;
}

.text-center-flex{
  display: flex;
  justify-content: center;
}

.title {
font-family: 'Gilroy', 'Montserrat', sans-serif;
color:#f0cd3d;
font-weight: 800;
font-size: 25px;
}

.title-blue {
font-family: 'Gilroy', 'Montserrat', sans-serif;
color: #f0cd3d;
font-weight: 800;
font-size: 20px;
}


.btn-continuar{
  background-color: #25c700 !important;
  color: white !important;
  padding: 0.3em !important;
  font-family: 'Gilroy', 'Montserrat', sans-serif !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  width: 25% !important;
  border-radius: 1em !important;
}

.btn-continuar:hover{
  background-color: #1e9f00 !important;
}

.title-compra{
color: #d30d0d;
font-weight: 800;
font-family: 'Gilroy', 'Montserrat', sans-serif;
font-size: 19px;
text-align: center;
text-transform: uppercase;
}

.numero-sorteio{
list-style: none;
margin-bottom: 1em;
font-size: 21px;
font-weight: 800;
color: #d30d0d;
font-weight: 800;
font-family: 'Gilroy', 'Montserrat', sans-serif;
letter-spacing: .5em;

/* border-bottom: solid 2px #d30d0d; */
}

.sorteado {
letter-spacing: 0;
font-weight: 500;
font-size: 11px;
text-transform: uppercase;
color: #1e9f00;
}

.formulario > .label-marca{
  color: #d30d0d;
  font-weight: 700;
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  font-size: 17px;
  text-align: left;
}


.formulario > div > input {
  background-color: #fce2df;
  border: unset;
  border-radius: 2em;
  padding: 1em;
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) {
  .white-block{
      width: 400px;
  }
}


.btn-primary {
color: var(--button-color);
background-color: var(--button-background-color);
border-radius: var(--border-radius);
}

.btn-primary:hover {
box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn-primary:active {
box-shadow: inset 0 0 0 20rem var(--darken-2),
  inset 0 3px 4px 0 var(--darken-3),
  0 0 1px var(--darken-2);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
opacity: .5;
}


.scroll{
margin-top: 2em;
overflow-y: scroll;
max-height: 800px;
}

.userName{
text-transform: capitalize;
text-align: left;
}

#page {
text-align: left;
}

.welcome {
font-family: 'Gilroy', 'Montserrat', sans-serif;
color: #f0cd3d;
font-weight: 800;
font-size: 19px;
}

.logout{
background-color: #25c700 !important;
color: white !important;
font-family: 'Gilroy', 'Montserrat', sans-serif !important;
font-size: 17px !important;
font-weight: 500 !important;
border-radius: 1em !important;
border-color: unset;
}
