<div class="separator">Continuar com</div>
<div class="login-box">
  <!-- <h2>or signup with</h2> -->
  <button (click)="facebookLogin()" class="social-button" id="facebook-connect"> <span>Facebook</span></button>
  <button (click)="googleLogin()"  class="social-button" id="google-connect"> <span>Google</span></button>
  <!-- <button class="social-button" id="twitter-connect"> <span>Login com Twitter</span></button>
  <button class="social-button" id="linkedin-connect"> <span>Login com LinkedIn</span></button> -->
</div>
