<div class="container">
    <button routerLink="/cadastro">
    <img src="../../../assets/btncadastro.png" style="padding: 1em;">
  </button>
</div>
<div class="container" id="btn1">
    <ul class="nav flex-column-center">
        <li class="nav-item">
            <a class=" nav-link active btn-action" routerLink="/como-participar">Como participar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-action " routerLink="/ganhadores">Ganhadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-action " routerLink="/regulamento">Regulamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-action " routerLink="/duvidas">Dúvidas Frequentes</a>
        </li>
    </ul>
</div>
