<div class="container container-block">
  <div class="row" style="height: 15%">
    <div class="col-md-12">
      <h1 class="title">TERMOS DE USO E POLÍTICA DE PRIVACIDADE</h1>
    </div>
  </div>
  <div class="row" style="height: 85%">
    <div class=" col-md-12 text-center-flex main-content-block">
      <div class="white-block text-center" style="flex-direction: column;padding:2em;">
        <div class="text-reading" style="text-align: left;">
          <p style="text-align: center;"><strong><span class="sub-title">Promo&ccedil;&atilde;o Multi Market
                Pr&ecirc;mio Todo Dia</span></strong></p>
          <p><br></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Este termo de uso de pol&iacute;tica de
            privacidade foi criado com o objetivo de informar a voc&ecirc; (&ldquo;Participante/Cliente&rdquo;) sobre
            como ser&atilde;o estabelecidas as regras de uso, armazenamento e prote&ccedil;&atilde;o das
            informa&ccedil;&otilde;es que ser&atilde;o obtidas atrav&eacute;s do cadastro para participar do sorteio na
            &ldquo;Promo&ccedil;&atilde;o Multi Market Pr&ecirc;mio Todo Dia&rdquo;, que ocorrer&aacute; por meio do
            website da Rede Multi Market (Link: https://redemultimarket.com.br/ ), caso opte por aceitar o recebimento
            de promo&ccedil;&otilde;es pela Rede Multi Market, o que n&atilde;o &eacute; obrigat&oacute;rio e n&atilde;o
            impossibilita a participa&ccedil;&atilde;o no sorteio.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Ao realizar o cadastro na promo&ccedil;&atilde;o,
            o participante dever&aacute; ler a presente Pol&iacute;tica, manifestando, caso queira, sua
            concord&acirc;ncia com rela&ccedil;&atilde;o &agrave;s suas disposi&ccedil;&otilde;es, por meio do
            bot&atilde;o disponibilizado para tanto. Por meio de tal ato, o Participante demonstra sua
            aceita&ccedil;&atilde;o livre, expressa e informada, sem quaisquer reservas, acerca de todo o
            conte&uacute;do deste documento.</p>
          <p><br></p>
          <p><strong>1. CONSIDERA&Ccedil;&Otilde;ES INICIAIS</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>1.1. A &ldquo;Rede Multi Market&rdquo;, nome
            fantasia da empresa MARJ &ndash; MERCADOS ASSOCIADOS DO ESTADO DO RIO DE JANEIRO, como sede na
            Munic&iacute;pio do Rio de Janeiro &ndash; RJ, na Av. Embaixador Abelardo Bueno, n&ordm; 01,
            Condom&iacute;nio Dimension, Ed. Ayrton Sena 1 &ndash; Sl 604, Jacarepagu&aacute;, inscrita no CNPJ sob o
            n&ordm; 03.585.249/0001-02, CEP: 22.775- 022, &eacute; a empresa respons&aacute;vel por determinar a
            realiza&ccedil;&atilde;o do presente termo de pol&iacute;tica de privacidade, por coordenar a
            a&ccedil;&atilde;o da empresa a seguir delineada, bem como pela realiza&ccedil;&atilde;o da
            Promo&ccedil;&atilde;o, cujos termos espec&iacute;ficos encontra-se no regulamento. Aqui ser&aacute; chamada
            de &ldquo;Rede&rdquo;.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>1.2. A &ldquo;Ag&ecirc;ncia Ecom&rdquo;, nome
            fantasia da empresa E COM COMUNICACOES EIRELI, com sede no Munic&iacute;pio do Rio de Janeiro &ndash; RJ, na
            Av. Jo&atilde;o Cabral de Mello Neto 850, Bloco 003, Sala 0222, Barra da Tijuca, RJ, CEP: 22775-057, CNPJ:
            07.722.534/0001-70, &eacute; a empresa respons&aacute;vel pelo desenvolvimento do site/portal da Rede Multi
            Market e pelo armazenamento de dados. Aqui ser&aacute; chamada de &ldquo;Ag&ecirc;ncia Ecom&rdquo;.</p>
          <p><br></p>
          <p><strong>2. COLETA DE DADOS</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Quando o cliente realizar o cadastro na
            Promo&ccedil;&atilde;o &ldquo;Multi Market Pr&ecirc;mio Todo Dia&rdquo; poder&aacute; autorizar, se assim
            desejar, que a Rede e a Ag&ecirc;ncia ECOM coletem e armazenem todas as suas informa&ccedil;&otilde;es como,
            por exemplo, Nome Completo, CPF, Bairro, Telefone, e-mail e a conta do Instagram (@instagramdocliente).</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>A Rede e a Ag&ecirc;ncia ECOM poder&atilde;o
            coletar outras informa&ccedil;&otilde;es, geradas automaticamente quando da utiliza&ccedil;&atilde;o do
            Portal pelo Participante da promo&ccedil;&atilde;o, como por exemplo, data e hora, p&aacute;ginas acessadas,
            data do cadastro, e outros.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Os registros mencionados poder&atilde;o ser
            utilizados pela Rede Multi Market e pela Ag&ecirc;ncia Ecom em casos de investiga&ccedil;&atilde;o de
            fraudes ou de altera&ccedil;&otilde;es indevidas em seus sistemas e cadastros.</p>
          <p><br></p>
          <p><strong>3. ARMAZENAMENTO DOS DADOS E INFORMA&Ccedil;&Otilde;ES</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>A Ag&ecirc;ncia Ecom ser&aacute; a empresa
            respons&aacute;vel por guardar os dados prestados pelos Participantes, em banco de dados com garantia de
            seguran&ccedil;a, de acordo com a tecnologia dispon&iacute;vel, somente sendo poss&iacute;vel o acesso por
            pessoas qualificadas e autorizadas pela Rede e/ou pela pr&oacute;pria Ag&ecirc;ncia. O Participante
            ser&aacute; inteiramente respons&aacute;vel pelos dados e informa&ccedil;&otilde;es inseridos no cadastro da
            promo&ccedil;&atilde;o.</p>
          <p><br></p>
          <p><strong>4. FINALIDADE DOS DADOS E INFORMA&Ccedil;&Otilde;ES</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Os dados e informa&ccedil;&otilde;es coletados dos
            clientes ser&atilde;o utilizados, precipuamente, com a finalidade de realizar o sorteio, para isso, &eacute;
            indispens&aacute;vel ler e assinalar a aceita&ccedil;&atilde;o do regulamento.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>No entanto, os dados e informa&ccedil;&otilde;es
            coletados tamb&eacute;m poder&atilde;o ser utilizados para enviar e-mail, WhatsApp, SMS Marketing, ou seja,
            com o intuito de realizar propaganda, mas, aqui, a aceita&ccedil;&atilde;o &eacute; opcional, ou seja, o
            cliente poder&aacute; participar da promo&ccedil;&atilde;o mesmo que n&atilde;o aceite o presente termo de
            uso de pol&iacute;tica de privacidade, sendo obrigat&oacute;ria apenas a aceita&ccedil;&atilde;o do
            regulamento.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Al&eacute;m, tamb&eacute;m poder&atilde;o ser
            utilizados os dados com outros objetivos como, por exemplo:</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>4.1. Comunicar a atividade da Rede e de seu
            website, bem como identificar o respectivo destinat&aacute;rio;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>4.2. Responder a eventuais d&uacute;vidas e
            solicita&ccedil;&otilde;es do Cliente;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>4.3. Realizar cadastros autom&aacute;ticos em
            promo&ccedil;&otilde;es comerciais da Rede Multi Market;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>4.4. Elaborar estat&iacute;sticas gerais, para
            identifica&ccedil;&atilde;o do perfil dos Clientes e desenvolvimento de atividades da Rede Multi Market;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>4.5. Garantir a seguran&ccedil;a dos Clientes;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>4.6. Manter atualizados os cadastros dos Clientes
            para fins de contato por telefone, e-mail, correio eletr&ocirc;nico, SMS, ou por outros meios de
            comunica&ccedil;&atilde;o, contatos estes, desde j&aacute;, autorizados pelos Clientes, Participantes da
            Promo&ccedil;&atilde;o Multi Market Pr&ecirc;mio Todo Dia;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>4.7. Informar a respeito de novidades,
            promo&ccedil;&otilde;es e eventos da Rede Multi Market e seus parceiros comerciais.</p>
          <p><br></p>
          <p><strong>5. COMPARTILHAMENTO DE DADOS</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Todas as informa&ccedil;&otilde;es coletadas sobre
            o Cliente/Participante s&atilde;o consideradas pela Rede Multi Market como confidenciais, podendo ser
            compartilhadas com terceiros apenas e t&atilde;o somente nas seguintes situa&ccedil;&otilde;es:</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>5.1. Como ativo empresarial, com empresas de seu
            grupo econ&ocirc;mico;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>5.2. Para a prote&ccedil;&atilde;o dos interesses
            da Rede Multi Market, caso necess&aacute;rio, em qualquer forma de conflito, extrajudicial ou judicial;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>5.3. Em caso de transa&ccedil;&otilde;es e
            altera&ccedil;&otilde;es societ&aacute;rias envolvendo a Rede Multi Market, caso no qual a
            transfer&ecirc;ncia das informa&ccedil;&otilde;es ser&aacute; fundamental &agrave; continuidade dos
            servi&ccedil;os;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>5.4. Mediante ordem judicial ou pelo requerimento
            de autoridades administrativas que detenham compet&ecirc;ncia legal para sua requisi&ccedil;&atilde;o.</p>
          <p><br></p>
          <p><strong>6. ISEN&Ccedil;&Otilde;ES DE RESPONSABILIDADE</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Ao aceitar o presente Termo, o Cliente declara-se
            ciente de que a Rede Multi Market e a Ag&ecirc;ncia Ecom n&atilde;o se responsabilizam por:</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>6.1. Eventuais indisponibilidades, falhas ou erros
            do website da Rede, bem como por qualquer defrauda&ccedil;&atilde;o da utilidade que possa ser
            atribu&iacute;da a este pelo Cliente, pela falibilidade do website, nem por qualquer dificuldade de
            cadastro, bem como por quaisquer erros ou inconsist&ecirc;ncias na transmiss&atilde;o de dados ou pela
            qualidade ou disponibilidade do sinal de Internet;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>6.2. Pela exist&ecirc;ncia de v&iacute;rus ou
            outros elementos nocivos no website capazes de alterar sistemas inform&aacute;ticos (software e hardware) ou
            documentos eletr&ocirc;nicos armazenados no sistema inform&aacute;tico do Cliente;</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>6.3. Pelos danos e preju&iacute;zos de toda
            natureza que venham a decorrer do conhecimento que terceiros n&atilde;o autorizados possam ter de quaisquer
            dados dispon&iacute;veis no Website, em decorr&ecirc;ncia de falhas exclusivamente atribu&iacute;veis a quem
            realizar o cadastro ou a terceiros, que fujam a qualquer controle razo&aacute;vel da Rede Multi Market e da
            Ag&ecirc;ncia Ecom. Nesse sentido, o Participante da promo&ccedil;&atilde;o isenta a Rede e a Ag&ecirc;ncia
            de qualquer responsabilidade decorrente de fraude no cadastro, realizada por terceiro, que possam ensejar a
            realiza&ccedil;&atilde;o de atos de concorr&ecirc;ncia desleal e publicidade il&iacute;cita; e a falta de
            veracidade, precis&atilde;o, exatid&atilde;o, pertin&ecirc;ncia e/ou atualidade dos conte&uacute;dos.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Ao realizar o cadastro no website e aceitar o
            presente Termo, o Cliente/Participante da promo&ccedil;&atilde;o reconhece que seus dados s&atilde;o de sua
            &uacute;nica e exclusiva responsabilidade, n&atilde;o devendo ser compartilhados com terceiros.</p>
          <p><br></p>
          <p><strong>7. DO RECEBIMENTO DE PROPAGANDAS</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Para receber as publicidades, o participante da
            promo&ccedil;&atilde;o, no ato do cadastro no website, dever&aacute; assinalar a leitura e a
            concord&acirc;ncia com este termo de uso de pol&iacute;tica de privacidade.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Caso n&atilde;o conceda concord&acirc;ncia com o
            presente termo, o participante, ainda assim, poder&aacute; participar do sorteio, sendo obrigat&oacute;rio
            apenas a aceita&ccedil;&atilde;o do regulamento.</p>
          <p><br></p>
          <p><strong>8. FIM DO CADASTRO</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Caso o participante aceite o termo de uso de
            pol&iacute;tica de privacidade, mas depois n&atilde;o queira mais manter seu cadastro poder&aacute; a
            qualquer momento promover seu cancelamento, acessando um campo em qualquer dos e-mails enviados pela Rede
            Multi Market, onde constar&aacute; a op&ccedil;&atilde;o para cancelamento do cadastro.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>A MARJ (Rede Multi Market) e a Ag&ecirc;ncia Ecom
            se reservam o direito de recusar ou de retirar o cliente da sua lista de transmiss&atilde;o, a qualquer
            momento, por iniciativa pr&oacute;pria ou por exig&ecirc;ncia de um terceiro, sem a necessidade de
            pr&eacute;vio aviso e sem direito a qualquer indeniza&ccedil;&atilde;o.</p>
          <p><br></p>
          <p><strong>9. PROPRIEDADE INTELECTUAL</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>O Participante, desde j&aacute;, afirma sua
            ci&ecirc;ncia de que o presente termo de uso de pol&iacute;tica de privacidade est&aacute; protegido por
            direitos de propriedade intelectual, sejam tais direitos registrados ou n&atilde;o.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>O uso ou acesso ao website ou a qualquer
            conte&uacute;do dos e-mails que atingir a propriedade intelectual de qualquer das partes presentes neste
            termo &ndash; ou de terceiros-, por meio do uso dos conte&uacute;dos disponibilizados nos e-mails enviados
            com finalidade diversa da expressa no presente termo, ensejar&aacute; responsabiliza&ccedil;&atilde;o
            daquele que fizer o uso e/ou se beneficiar dele.</p>
          <p><br></p>
          <p><strong>10. CONSIDERA&Ccedil;&Otilde;ES FINAIS</strong></p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>10.1. Os conflitos eventualmente oriundos dessa
            rela&ccedil;&atilde;o ser&atilde;o promovidos perante o Foro da Comarca da Capital do Rio de Janeiro, com
            expressa ren&uacute;ncia de qualquer outro, por mais privilegiado que seja.</p>
          <p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>10.2. A presente Pol&iacute;tica poder&aacute; ser
            alterada a qualquer momento. Ocasi&atilde;o em que as altera&ccedil;&otilde;es constar&atilde;o no site da
            Rede Multi Market. Assim, cabe ao cliente realizar a verifica&ccedil;&atilde;o peri&oacute;dica do teor
            desta Pol&iacute;tica, lendo atentamente este documento em cada ocasi&atilde;o que entrar no website, tendo
            como base a data de atualiza&ccedil;&atilde;o a seguir indicada:</p>
          <p><br></p>
          <p><strong>- &Uacute;ltima atualiza&ccedil;&atilde;o: 15 de janeiro de 2021.</strong></p>
        </div>
        <div class="row sign">
          <label>
            <input type="checkbox" [checked]="checktermo" (change)="checktermo = !checktermo" value="">
            Eu li e concordo com os termos de uso e política de privacidade.
          </label>
        </div>
        <div class="row">
          <div class="col-md-12 label-marca text-center-flex">
            <button class="btn-continuar" [disabled]="!checktermo" (click)="Aceita()">CONTINUAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
