<div class="container container-block">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">COMO PARTICIPAR</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center-flex text-center main-content-block" style="width: 100%;">
      <div class="white-block" style="flex-direction: column;">
        <div class="text-reading text-center" style="text-align: left;">
          <img class="img-como-participar" routerLink="/" src="../assets/como-participar.png" />
        </div>

        <div class="row">
          <div class="col-md-12 label-marca text-center-flex">
            <button class="btn-continuar" routerLink="/">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
