@media (max-width: 900px){
  .white-block {
    width: 100% !important;
    padding: 0 !important;
    padding-bottom: 1em !important;
    height: auto !important;
  }

  .text-reading{
    height: auto !important;
  }
}

.white-block {
  padding:2em;
  background-color: #ffffff;
  width: 40vw;
  min-height: 250px;
  border-radius: 2em;
  padding: 1em;
  height: 400px;
}

.text-center-flex {
  display: flex;
  justify-content: center;

}

.title {
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  color:#f0cd3d;
  font-weight: 800;
  font-size: 27px;
}

.title-blue {
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  color: #f0cd3d;
  font-weight: 800;
  font-size: 27px;
}

.text-blue {
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  color: #f0cd3d;
  font-weight: 800;
  font-size: 13px;
}

.text-reading {
  height: 95%;
}

.sign {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-right: 1em;
  /* font-size: 27px; */
  font-family: 'Gilroy', 'Montserrat', sans-serif;
}

.sign>label {
  /* color: #e93c25; */
  font-weight: 600;
}

.btn-continuar{
  background-color: #25c700 !important;
  color: white !important;
  padding: 0.3em !important;
  font-family: 'Gilroy', 'Montserrat', sans-serif !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  width: 200px !important;
  border-radius: 1em !important;
}

.btn-continuar:hover{
  background-color: #1e9f00 !important;
}




.btn-continuar:disabled {
  background: #dddddd !important;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
