<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h1 class="title">USUÁRIO BLOQUEADO</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center-flex" style="width: 100%;">
      <div class="white-block" style="flex-direction: column;">
          <div class="text-reading" style="text-align: center;">
              <img src="../../../assets/atencao.png" width="200" height="200">
              <h1 class="title-blue">Atenção!</h1>
              <label class="text-blue">Nosso setor de risco encontrou uma possível inconsistencia de dados.</label>
              <label class="text-blue">Em caso de dúvidas, entre em contato:</label><br>
              <label class="text-blue">21 98843-2744</label>
          </div>
      </div>
    </div>
  </div>

</div>

